# Diretórios
/dist
/build
/node_modules


# Arquivos de Logs
*.log
*.lock
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist-ssr
*.local