/* Rodape */
.rodape-container {
    background-color: var(--cor-background);
    display: flex;
    height: 5vh;
    justify-content: center;
    width: 100vw;
    align-items: center;
}

.rodape-link {
    color: var(--cor-primaria);
    text-decoration: none;
}

.rodape-link:hover {
    color: var(--cor-destaque);
    text-decoration: underline;
}