.pagina-titulo {
    height: 30%;
    display: flex;
    justify-content: end;
    flex-direction: column;

}

.titulo {
    font-size: 4rem;
    color: #000000;
}

.subtitulo {
    font-size: 2rem;
    color: #606060;
}