.titulo-principal {
    cursor: default;
    font-size: 4.6vw;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
}

.titulo-secundario {
    font-size: 2vw;
    cursor: default;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(45deg, var(--cor-secundaria), var(--cor-primaria));
}