.titulo-principal {
    cursor: default;
    font-size: clamp(3.5rem, 5.1vw, 5.6rem);
    font-weight: 700;
    letter-spacing: -.065em;
    line-height: 1.12;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
}

.titulo-secundario {
    margin-top: .75rem;
    font-size: clamp(1.5rem, 2.05vw, 2.45rem);
    font-weight: 700;
    letter-spacing: -.045em;
    line-height: 1.15;
    cursor: default;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent; 
    background-image: linear-gradient(45deg, var(--cor-secundaria), var(--cor-primaria));
}

@media (max-width: 700px) {
    .titulo-principal {
        font-size: clamp(2rem, 9.5vw, 2.5rem);
        letter-spacing: -.07em;
    }

    .titulo-secundario {
        margin-top: .3rem;
        font-size: clamp(.95rem, 4.4vw, 1.15rem);
        letter-spacing: -.045em;
    }
}
