.item-contato-conteiner {
    display: flex;
    margin-bottom: 30px;
}

.item-contato-conteudo {
    display: flex;
    flex-direction: row;
}

.item-contato-link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

.item-contato-link:hover .item-contato-icone {
    transition: 0.5s;
    transform: rotate(145deg);
    background-color: #303030; 
}


.item-contato-link:hover .item-contato-texto .titulo-contato {
    transition: 0.5s;
    color: #000000;
}


.item-contato-conteudo:hover .item-contato-texto {
    transition: 0.5s;
    color: #606060;
    transform: translateX(20px); 
}


.item-contato-icone-conteiner {
    display: flex;
    align-items: center;
}


.item-contato-icone {
    width: 10px;
    height: 10px;
    transition: 0.5s;
    margin-right: 20px;
    transform: rotate(45deg);
    background-color: #606060;
}


.item-contato-texto {
    transition: 0.5s;
    color: #909090;
}


.titulo-contato {
    font-size: 2em;
    color: #606060;
}
