header {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icone-losangulo {
    width: 2vh;
    height: 2vh;
    rotate: 45deg;
    background-color: #000;
}

@media (max-width: 768px) {
    header {
        height: 5%;
    }
}