.inicio-conteudo {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 2rem;
}

.inicio-secao-esquerda {
    width: 100%;
}

.inicio-secao-direita {
    width: 100%;
    display: flex;
    justify-content: center;
}

.inicio--imagem-cubo-impossivel {
    animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    -webkit-animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@media (max-width: 700px) {
    .inicio-conteudo {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .inicio-secao-direita {
        align-self: center;
    }
}
