footer {
    height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.direito-autoral {
    color: #000;
    font-size: 1em;
    text-decoration: none;
}
