.pagina-secao {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.secao-esquerda {
    width: 50%;
}

.secao-direita {
    width: 50%;
}

@media (max-width: 768px) { 
    .pagina-secao {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .menu-lateral {
        display: none;
    }
}
