.item-menu-conteiner {
    display: flex;
    margin-bottom: 10px;
}

.item-menu-conteudo {
    display: flex;
    flex-direction: row;
}

.item-menu-link {
    display: flex;

    flex-direction: row;
    text-decoration: none;
}

.item-menu-link:hover .item-menu-icone {
    transition: 0.5s;
    transform: rotate(135deg);
    background-color: #303030; 
}

.item-menu-link:hover .item-menu-texto {
    transition: 0.5s;
    color: #303030;
}

.item-menu-icone-conteiner {
    display: flex;
    align-items: center;
}

.item-menu-icone {
    width: 2vh;
    height: 2vh;
    transition: 0.5s;
    margin-right: 50px;
    transform: rotate(45deg);
    background-color: #909090;
}

.item-menu-texto {
    font-size: 5vh;
    transition: 0.5s;
    color: #909090;
}

.item-menu-conteudo:hover .item-menu-texto {
    transition: 0.5s;
    transform: translateX(30px);   
}

@media (max-width: 768px) {
    .item-menu-icone {
        width: 10px;
        height: 10px;
        margin-right: 30px;
    }
    .item-menu-texto {
        font-size: 1.5rem; 
    }
}