.cartao-conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cartao-conteudo {
    width: 8vw;
    height: 8vw;
    display: flex;
    transition: .5s;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    border: 3px solid var(--cor-primaria);
}

.cartao-conteudo:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 50px var(--cor-destaque);
}

